<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Connection settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/dbp</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">A</property>

        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Print executed SQL to stdout -->


        <!-- Update database on startup -->
        <property name="hibernate.hbm2ddl.auto">none</property>
        <property name="hibernate.hibernate.hbm2ddl.auto">none</property>

        <!-- Annotated entity classes -->
        <mapping class="uni.dbprak.City"/>
        <mapping class="uni.dbprak.Comment"/>
        <mapping class="uni.dbprak.Company"/>
        <mapping class="uni.dbprak.Continent"/>
        <mapping class="uni.dbprak.Country"/>
        <mapping class="uni.dbprak.Forum"/>
        <mapping class="uni.dbprak.Organisation"/>
        <mapping class="uni.dbprak.Person"/>
        <mapping class="uni.dbprak.Place"/>
        <mapping class="uni.dbprak.Post"/>
        <mapping class="uni.dbprak.StudyAt"/>
        <mapping class="uni.dbprak.University"/>
        <mapping class="uni.dbprak.Tag"/>
        <mapping class="uni.dbprak.TagClass"/>


        <!--
        <Person_email"/>
        <Person_speaks"/>
        <Tag_hasType_TagClass"/>
        <TagClass_isSubclassOf_TagClass"/>
        <Forum_hasTag_Tag"/>
        <Message"/>
        <Forum_hasMember_Person"/>
        <Message_hasTag_Tag"/>
        <Person_likes_Message"/>
        <Person_knows_Person"/>
        <Person_workAt_Company"/>
        <Person_hasInterest_Tag"/>
        -->

    </session-factory>
</hibernate-configuration>